img {
  width: 300px;
  height: 300px;
}

.card-header {
  border: 1px solid lightblue;
}

.card-header,
img {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.available {
  width: 100%;
  background-color: darkgray;
  color: yellow;
}

.specifications,
.pricing {
  font-weight: bold;
}

.row {
  border: 2px solid #607d8b;
}

.card1 {
  background: rgba(236, 23, 23, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card2 {
  background: rgba(144, 19, 254, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card3 {
  background: rgba(248, 231, 28, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
